h2 {
    color: red;
}
.box {
    width: 200px;
    height: 200px;
    background-image: url(../assets/imgs/提取背景音-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}