h3 {
    color: green;
}
.box1 {
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url(../assets/imgs/flower.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}